.console, .passwordInput, .responseConsole  {
    margin: 10px 10px 0px 10px;
}

.btn {
    float: left;
    border-radius: 0px;
    margin: 0px 0px 0px 5px
}

textarea {
    height: 300px;
}

jumbotron text-center {
    height: 350px;
    text-align: left;
}
